!!!
%html
%head
  %title Roshambo's Tool Kit
  = stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true
  %link{ rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Lobster|Chewy|Permanent+Marker|Lato', type:'text/css'}
  %link{ rel:'stylesheet', herf:'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css', type:'text/css'}
  = javascript_include_tag 'tool_kit.js', 'data-turbolinks-track' => true
  = csrf_meta_tags


%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p= link_to "Roshambo's Health Care", root_path
      #buttons
        = link_to "Forum", posts_path
        =link_to "Hot deals", list_path
        =link_to "Tool Kit", tool_kit_path
        -if user_signed_in?
          = link_to "New Post", new_post_path
          = link_to "Sign Out", destroy_user_session_path, method: "DELETE"
        -else
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path

  %footer.main_footer.clearfix
    .wrapper
      %p
        All rights reserved by
        %a{:href => "https://github.com/2015au-1730/RoshamboProject06.git"} Roshambo

  .wrapper
    %p.notice=notice
    %p.alert=alert

  .wrapper
    = yield
